<div *ngFor="let statement of statementService.savedStatement$ | async">
  <div>
    <mat-card (click)="onClickCard(statement)" class="card card-container">
      <div class="card-container-horizontal">
        <p class="title" mat-card-title>{{statement.title}}</p>
        <mat-icon color="warn" (click)="isButtonClicked=true;statementService.removeStatement(statement.id,false)">close</mat-icon>
      </div>
      <div class="card-container-horizontal-reversed">
        <button class="btn btn-outline-primary" (click)="isButtonClicked=true;onClickSolution(statement.statementID)" color="accent">add solution</button>
      </div>
    </mat-card>
  </div>
</div>
