
<div fxLayoutAlign="center center">

  <mat-card fxLayout="column" fxLayoutAlign="none center">

    <div class="main-container">

      <mat-card-title>
        <span>Sign in to continue.</span>
      </mat-card-title>

      <mat-form-field>
        <input #inputEmail matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input #inputPassword matInput placeholder="Password" type="password" required>
      </mat-form-field>

      <div>
        <button mat-flat-button color="accent"
                (click)="AuthService.signInWithEmailAndPassword(inputEmail.value,inputPassword.value)">
          Sign in
        </button>
      </div>

    </div>

  </mat-card>

</div>
