<h3 class="quote-banner">Without hard work you cannot execute your smart work.</h3>

<mat-card class="container material-card">
  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</mat-card>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
  <button mat-flat-button class="google-button" (click)="auth.googleSignIn()"></button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <div class="flex-container">
      <h3>Hello!!, {{ user.displayName }}</h3>
      <p style="margin-top: -8px" class="mat-small">UID: {{ user.uid }}</p>

      <div class="flex-container form" >

        <mat-form-field>
          <input matInput placeholder="Your email" value="{{ user.email }}" disabled>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone number" [(ngModel)]="phoneNumber"  value="{{ user.phoneNumber }}" type="tel"
                 required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" value="{{ user.dateOfBirth }}"
                 placeholder="{{dateOfBirth}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Collage Name" [(ngModel)]="collageName" value="{{ user.collage }}" type="text"
                 required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enrollment Number" [(ngModel)]="enrollmentNumber" value="{{ user.enrollmentNumber }}"
                 type="number" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Institute Code" [(ngModel)]="instituteCode" value="{{ user.instituteCode }}"
                 type="number" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="HOD/Principal name" [(ngModel)]="principalName" value="{{ user.principalName }}"
                 type="text" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Academic Year" [(ngModel)]="academicYear" value="{{ user.academicYear }}"
                 type="number" required>
        </mat-form-field>

        <mat-form-field>
          <!--<mat-select [(value)]="department"  placeholder="Department">-->
          <!--<mat-option value="Civil">Civil Engineering</mat-option>-->
          <!--</mat-select>-->
          <!--<mat-hint align="end">select department ^</mat-hint>-->
          <input matInput placeholder="Department" [(ngModel)]="department" value="Civil Engineering" disabled
                 type="text" required>
        </mat-form-field>

      </div>

      <button mat-flat-button color="accent" (click)="onSubmit()" type="button">Update</button>

    </div>
  </div>
</ng-template>
