
mat-card {
  width: 400px;
}

.main-container {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-container > * {
  width: 100%;
}

.login-form {
  flex-direction: column;
}

.signUpButton {
  margin-left: 8px;
}
