<div *ngFor="let recent of statementService.recentStatement$ | async">
  <div>
    <mat-card (click)="onClickCard(recent)" class="card card-container">
      <div class="card-container-horizontal">
        <p class="title" mat-card-title>{{recent.title}}</p>
      </div>
      <div class="card-container-horizontal-reversed">
        <button mat-flat-button (click)="statementService.saveRecent(recent)" color="accent">Save</button>
        <button style="margin-left: 8px" mat-flat-button>Ask</button>
      </div>
    </mat-card>
  </div>
</div>
