<div *ngFor="let statement of StatementService.statements$">
  <div>
    <mat-card [ngStyle]="{'background-color': colors[statement.status]}" [routerLink]="['/statement',statement.id]" class="card card-container">
      <div class="card-container-horizontal">
        <p class="title" mat-card-title>{{statement.title}}</p>
        <p mat-card-subtitle>{{statement.date.toDate().toLocaleDateString() }}</p>
      </div>
      <div class="card-container-horizontal">
        <p mat-card-subtitle>{{statement.description.substring(0, 150)}}</p>
      </div>
      <div class="card-container-horizontal">
        <button mat-flat-button color="accent">Save</button>
        <button style="margin-left: 8px" mat-flat-button>Ask</button>
      </div>
    </mat-card>
  </div>
</div>
