<div *ngFor="let statement of statementService.allStatements$ | async">
  <div>
    <mat-card [ngStyle]="{'background-color': colors[statement.status]}" (click)="onClickCard(statement)"
              class="card card-container">
      <div class="card-container-horizontal">
        <p class="title" mat-card-title>{{statement.title}}</p>
        <p mat-card-subtitle>{{statement.date.toDate().toLocaleDateString() }}</p>
      </div>
      <div class="card-container-horizontal">
        <p mat-card-subtitle>{{statement.description.substring(0, 150)}}</p>
      </div>
      <mat-chip-list class="fields-chip">
        <p class="field-title mat-body">Fields:</p>
        <div *ngFor="let field of statement.fields">
          <mat-chip>{{field}}</mat-chip>
        </div>
      </mat-chip-list>
      <div>
        <div class="card-container-horizontal-reversed">
          <button mat-flat-button (click)="isButtonClicked=true;statementService.saveStatement(statement); "
                  color="accent">Save
          </button>
          <button style="margin-left: 8px" (click)="isButtonClicked=true;" mat-flat-button>Ask</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<span class="filter">
    <button mat-fab>
      <mat-icon (click)="openDialog()">filter_list</mat-icon>
    </button>
  </span>
